/*generale*/
html, body{ 
	margin: 0px; 
	padding: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size:0.9em;
}

h1,h2,h3,h4,h5,h6 {
    font-variant: small-caps;
}

/*login*/
#login{
    margin-top: -0.5em;
    float:right;
    background-color: purple;
    padding-right: 0.5em;
}
#login li{
    list-style-type: none;
    float:left;

}
/*fine login*/

/*
NB TUTTI I COLORI USATI SONO TEMPORANEI, USATI SOLO COME TRACCE PER DISTINGUERE I VARI ELEMENTI E LE VARIE SITUAZIONI PIU' FACILMENTE
*/
/*header*/
#header{
	width:100%;
	background-color:purple;
	color:white;
	overflow:hidden;
	padding-bottom:0.5em;
}
/*logo*/
#logo{
	background-image: url("immagini/logo.png");
	background-repeat:no-repeat;
	width:7em;
	height:7em;
	float:left;
	padding-right:1em;
	margin-left:0.5em;
	margin-top:0.2em;
	background-size: 7em 7em;
}
/*fine logo/
/*	se non è un immagine di contenuto (difficile visto che ci serve come ancora):
	#logo img{
	width:8em;
	height:7em;
	float:left;
	}
html relativo sengato su index.html, in forma di commento al div id="logo"
	*/
/*fine header*/

/*nav*/
#nav{
    padding-top: 1em;
    padding-bottom: 1em;
    min-width: 100%;
    background-color: #FF00FF;
}
#nav ul {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    list-style-type: none;
}
#nav li{
    font-size: 1.4em;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    background-color: #C0FFEE;
}
#nav a:hover{
	background-color:red;
}
#nav a{
    display: block;
    padding: 1em;
    background-color: #C0FFEE;
    text-decoration: none;
}
#nav a:hover{
	background-color:red;
}
.blocco{
	padding: 1em;
	display: block;
}

/*fine nav*/

/*path*/
#path{
	clear:left;
	background-color:black;
	color:white;
	font-size:1.em;
	padding:0.3em;
}
#path a{
	color:white;
}
#path a:hover{
	color:yellow;
}
/*fine path*/

/*main*/
#main {
	min-width: 100%;
}

/*content*/
#content {
	padding-left:1.5em;
}
#content dt{
	font-weight:bold;
}
#content dd{
	margin-bottom:0.5em;
}
/*fine contenuto*/

/*articolo*/
.articolo{
	text-align: center;
	background-color: grey;
	color: white;
	float: left;
	width: 50%;
	min-width: 25em;
} 
/*non so come renderlo accattivante ma vabbhè, x ora è testo a caso*/
/*fine articolo*/

/*galleria*/
#galleria{
	width: 40em;
	height: 23em;
	background-image: url("immagini/palestra1.jpg");
	background-repeat: no-repeat;
	margin-right: 1em;
	float: left;
}
/*
NB problema: non è "fluido", è necessario che l'immagine occupi lo spazio in modo da riempire tutta la sezione 
(vorrei che avesse un'aspetto simile alle gallery viste su mcfit.com x esempio);
per rimediare ho temporaneamente affiancato la gallery alle news, invece che mettere 
1)gallery
2)breve testo di benvenuto
3)notizie (piccolo riquadro a destra dell'articolo di benvenuto) 
*/
/*fine galleria*/
/*fine contenuto*/

/*notizie*/
#notizie{
	float: left;
    min-width: 21.5em;
    width: 50%;
	background-color: purple;
	color: white;
	min-width: 25em;	
}

/*notiziaH*/
#notizie dl{
	padding-left:1em;
}
#notizie dt{
	padding-left:1em;
}
#notizie dd{
	padding-left:2em;
    padding-right: 0.5em;
}
#notizia dt a{
	color:white;
	font-weight:bold;
}
.notiziaH a:hover{
	color:yellow;
}
.notiaH  :hover{
	background-color: pink;
}
/*fine notizie*/
/*notiziaH*/


/*... stars above! what a mess:
.notiziaH a :hover{
	color:yellow;
}
.notiaH  :hover{
	background-color:pink;
}
-non è fluido
-avrà contenuto di dimensione varia quindi ciò è molto male
-non riempie bene gli spazi
-non vengono registrate le regole x hover
-NB se cambiamo la struttura di notizie in una lista di dati "dl" bisogna cambiare gli indentificatori di selezione delle regole
*/

/*fine notizie*/

/*fine main*/

/*footer*/
#footer{
    background-color: black;
	clear:both;
    padding:0.1em;
	text-align:center;
}
#footer a{
	color:white;
}
#dati_aziendali{
	color:white;
}

/*fine footer*/
